nav>ul>li{
    display: inline;
    justify-content: space-between;
    margin: 40px;
} 
a{
    text-decoration: none;
}
nav{
    /* text-align: center; */
    display: flex;
    align-items: center;
}
nav>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#streetfood{
    margin-left:50px;

  
    text-align: justify;
    


}

#ordernow{
    background-color: green;
    border: none;
    color: white;
    border-radius: 38%;
  
   
  
}
.explore{
    text-align: center;
    font-size: large;
    padding: 20px;
}
#menu{
    color: green;
}
.food{
    background-color:rgb(217, 226, 217);
    margin: 50px;


}
.third{
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}
.rest{
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
}
.header3{
    text-align: center;
    padding: 20px;
    
}
#deals{
    color: green;
}
.special{
    background-color: rgb(146, 207, 146);
    margin: 70px ;
    height: 700px;
}
#pizza{
    display: flex;
    float: left;
}
.pack{
    color: green;
}
#contacts{
    background-color:rgb(245, 222, 222) ;  
    width: 400px; 
    margin: 70px;
    height: 300px;
    padding: 10px;
}
.header3{
    text-align: center;

}
#us{
    color: green;
}

    












.together>img{
    height: 300px;
    width: 400px;
    float: left;
}
.description{
    text-align: center;
    width: 400px;
    float: left;

}
.together{
  margin: 50px;
  display: flex;
}

.email{
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}
.email>button{
    color: white;
    background-color: green;
    border: none;
    /* display: flex;
    align-items: center; */
    text-align: center;
}