nav>ul>li{
    display: inline;
    justify-content: space-between;
   
    margin: 10px;
} 
a{
    text-decoration: none;
}
.together>img{
    height: 300px;
    width: 400px;
    float: left;
}
.description{
    text-align: center;
    width: 400px;
    float: left;

}
.together{
  margin: 50px;
  display: flex;
}
    
